openapi: 3.1.0
info:
  title: Webflow Collections Asset Folders Orders API
  description: Webflow Data API v2 - Collections endpoints.
  version: 2.0.0
  contact:
    name: Webflow Developer Relations
    email: developers@webflow.com
    url: https://developers.webflow.com
  termsOfService: https://webflow.com/legal/terms
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://api.webflow.com/v2
  description: Webflow API v2
  x-fern-server-name: Data API
security:
- OAuth2: []
- ApiKey: []
tags:
- name: Orders
  description: Orders are the orders for your Webflow site.
paths:
  /sites/{site_id}/orders:
    get:
      x-fern-sdk-group-name: orders
      x-fern-sdk-method-name: list
      security:
      - OAuth2:
        - ecommerce:read
      operationId: list-orders
      summary: Webflow List Orders
      description: 'List all orders created for a given site.


        Required scope | `ecommerce:read`

        '
      tags:
      - Orders
      parameters:
      - name: site_id
        in: path
        description: Unique identifier for a Site
        example: 580e63e98c9a982ac9b8b741
        required: true
        schema:
          type: string
          format: objectid
          default: null
      - name: status
        in: query
        allowEmptyValue: true
        description: Filter the orders by status
        required: false
        schema:
          type: string
          enum:
          - pending
          - refunded
          - dispute-lost
          - fulfilled
          - disputed
          - unfulfilled
      - in: query
        example: 0
        allowEmptyValue: true
        name: offset
        description: Offset used for pagination if the results have more than limit records
        required: false
        schema:
          type: integer
      - in: query
        allowEmptyValue: true
        name: limit
        example: 100
        description: 'Maximum number of records to be returned (max limit: 100)'
        required: false
        schema:
          type: integer
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                description: Results from order list
                properties:
                  orders:
                    type: array
                    description: List of orders
                    items:
                      type: object
                      properties:
                        orderId:
                          type: string
                          readOnly: true
                          description: 'The order ID. Will usually be 6 hex characters, but can also be 9

                            hex characters if the site has a very large number of Orders.

                            Randomly assigned.

                            '
                          example: dfa-3f1
                        status:
                          type: string
                          example: unfulfilled
                          description: 'The status of the Order

                            '
                          enum:
                          - pending
                          - unfulfilled
                          - fulfilled
                          - disputed
                          - dispute-lost
                          - refunded
                        comment:
                          type: string
                          description: A comment string for this Order, which is editable by API user (not used by Webflow).
                          example: 'Customer requested gift wrapping and a personalized note saying: Happy Birthday, Ford! 🎉 Please ensure the item is packed with extra bubble wrap for safe transit.'
                        orderComment:
                          type: string
                          description: A comment that the customer left when making their Order
                          example: Please gift wrap with a personal note saying "Happy Birthday, Ford! 🎉
                        acceptedOn:
                          type: string
                          format: date-time
                          nullable: true
                          description: The ISO8601 timestamp that an Order was placed.
                          example: '2018-12-03T22:06:15.761Z'
                        fulfilledOn:
                          type: string
                          format: date-time
                          nullable: true
                          description: 'When an Order is marked as ''fulfilled'', this field represents the timestamp of the fulfillment in ISO8601 format. Otherwise, it is null.

                            '
                          example: '2018-12-03T22:06:15.761Z'
                        refundedOn:
                          type: string
                          format: date-time
                          nullable: true
                          description: When an Order is marked as 'refunded', this field represents the timestamp of the fulfillment in ISO8601 format. Otherwise, it is null.
                          example: '2018-12-03T22:06:15.761Z'
                        disputedOn:
                          type: string
                          format: date-time
                          nullable: true
                          description: 'When an Order is marked as ''disputed'', this field represents the timestamp of the fulfillment in ISO8601 format. Otherwise, it is null.

                            '
                          example: '2018-12-03T22:06:15.761Z'
                        disputeUpdatedOn:
                          type: string
                          format: date-time
                          nullable: true
                          description: 'If an Order has been disputed by the customer, this key will be set to the ISO8601 timestamp of the last update received. If the Order is not disputed, the key will be null.

                            '
                          example: '2018-12-03T22:06:15.761Z'
                        disputeLastStatus:
                          type: string
                          description: 'If an order was disputed by the customer, then this key will be set with the [dispute''s status](https://stripe.com/docs/api#dispute_object-status).

                            '
                          example: null
                          enum:
                          - warning_needs_response
                          - warning_under_review
                          - warning_closed
                          - needs_response
                          - under_review
                          - charge_refunded
                          - won
                          - lost
                          nullable: true
                        customerPaid:
                          description: The total paid by the customer
                          properties:
                            unit:
                              description: The three-letter ISO currency code
                              type: string
                              example: USD
                            value:
                              description: The numeric value in the base unit of the currency
                              type: string
                              example: '5892'
                            string:
                              description: The user-facing string representation of the amount
                              type: string
                              example: $58.92
                        netAmount:
                          description: The net amount after application fees
                          properties:
                            unit:
                              description: The three-letter ISO currency code
                              type: string
                              example: USD
                            value:
                              description: The numeric value in the base unit of the currency
                              type: string
                              example: '5892'
                            string:
                              description: The user-facing string representation of the amount
                              type: string
                              example: $58.92
                        applicationFee:
                          description: The application fee assessed by the platform
                          properties:
                            unit:
                              description: The three-letter ISO currency code
                              type: string
                              example: USD
                            value:
                              description: The numeric value in the base unit of the currency
                              type: string
                              example: '5892'
                            string:
                              description: The user-facing string representation of the amount
                              type: string
                              example: $58.92
                        allAddresses:
                          description: All addresses provided by the customer during the ordering flow.
                          type: array
                          example:
                          - type: shipping
                            japanType: kanji
                            addressee: Custmerio Namen
                            line1: 123 Example Road
                            line2: Unit 3
                            city: Examplesville
                            state: CA
                            country: US
                            postalCode: 90012
                          - type: billing
                            japanType: kanji
                            addressee: Custmerio Namen
                            line1: 123 Example Road
                            line2: Unit 3
                            city: Examplesville
                            state: CA
                            country: US
                            postalCode: 90012
                          items:
                            description: A customer address
                            properties:
                              type:
                                description: The type of the order address (billing or shipping)
                                type: string
                                enum:
                                - shipping
                                - billing
                                example: shipping
                              japanType:
                                description: Represents a Japan-only address format. This field will only appear on orders placed from Japan.
                                type: string
                                enum:
                                - kana
                                - kanji
                                nullable: true
                                example: kanji
                              addressee:
                                description: Display name on the address
                                type: string
                                example: Customerio Namen
                              line1:
                                type: string
                                example: 123 Example Rd
                                description: The first line of the address
                              line2:
                                type: string
                                example: ''
                                description: The second line of the address
                              city:
                                type: string
                                example: Examplesville
                                description: The city of the address.
                              state:
                                type: string
                                example: CA
                                description: The state or province of the address
                              country:
                                type: string
                                example: US
                                description: The country of the address
                              postalCode:
                                type: string
                                example: 90012
                                description: The postal code of the address
                        shippingAddress:
                          description: The shipping address
                          properties:
                            type:
                              description: The type of the order address (billing or shipping)
                              type: string
                              enum:
                              - shipping
                              - billing
                              example: shipping
                            japanType:
                              description: Represents a Japan-only address format. This field will only appear on orders placed from Japan.
                              type: string
                              enum:
                              - kana
                              - kanji
                              nullable: true
                              example: kanji
                            addressee:
                              description: Display name on the address
                              type: string
                              example: Customerio Namen
                            line1:
                              type: string
                              example: 123 Example Rd
                              description: The first line of the address
                            line2:
                              type: string
                              example: ''
                              description: The second line of the address
                            city:
                              type: string
                              example: Examplesville
                              description: The city of the address.
                            state:
                              type: string
                              example: CA
                              description: The state or province of the address
                            country:
                              type: string
                              example: US
                              description: The country of the address
                            postalCode:
                              type: string
                              example: 90012
                              description: The postal code of the address
                          example:
                            type: shipping
                            japanType: kanji
                            addressee: Custmerio Namen
                            line1: 123 Example Road
                            line2: Unit 3
                            city: Examplesville
                            state: CA
                            country: US
                            postalCode: 90012
                        billingAddress:
                          description: The billing address
                          properties:
                            type:
                              description: The type of the order address (billing or shipping)
                              type: string
                              enum:
                              - shipping
                              - billing
                              example: shipping
                            japanType:
                              description: Represents a Japan-only address format. This field will only appear on orders placed from Japan.
                              type: string
                              enum:
                              - kana
                              - kanji
                              nullable: true
                              example: kanji
                            addressee:
                              description: Display name on the address
                              type: string
                              example: Customerio Namen
                            line1:
                              type: string
                              example: 123 Example Rd
                              description: The first line of the address
                            line2:
                              type: string
                              example: ''
                              description: The second line of the address
                            city:
                              type: string
                              example: Examplesville
                              description: The city of the address.
                            state:
                              type: string
                              example: CA
                              description: The state or province of the address
                            country:
                              type: string
                              example: US
                              description: The country of the address
                            postalCode:
                              type: string
                              example: 90012
                              description: The postal code of the address
                          example:
                            type: billing
                            japanType: kanji
                            addressee: Custmerio Namen
                            line1: 123 Example Road
                            line2: Unit 3
                            city: Examplesville
                            state: CA
                            country: US
                            postalCode: 90012
                        shippingProvider:
                          type: string
                          description: 'A string editable by the API user to note the shipping provider used (not used by Webflow).

                            '
                          example: USPS
                          nullable: true
                        shippingTracking:
                          type: string
                          description: 'A string editable by the API user to note the shipping tracking number for the order (not used by Webflow).

                            '
                          example: RA401558525US
                          nullable: true
                        shippingTrackingURL:
                          type: string
                          format: uri
                          example: shipping.test.com/RA401558525US
                          nullable: true
                        customerInfo:
                          description: An object with the keys `fullName` and `email`.
                          properties:
                            fullName:
                              description: The full name of the Customer
                              type: string
                              example: Customerio Namen
                            email:
                              description: The Customer's email address
                              type: string
                              format: email
                              example: renning@webflow.com
                        purchasedItems:
                          type: array
                          description: An array of all things that the Customer purchased.
                          items:
                            description: An Item that was purchased
                            properties:
                              count:
                                type: number
                                example: 1
                                description: Number of Item purchased.
                              rowTotal:
                                description: The total for the row
                                properties:
                                  unit:
                                    description: The three-letter ISO currency code
                                    type: string
                                    example: USD
                                  value:
                                    description: The numeric value in the base unit of the currency
                                    type: string
                                    example: '5892'
                                  string:
                                    description: The user-facing string representation of the amount
                                    type: string
                                    example: $58.92
                              productId:
                                type: string
                                format: objectid
                                description: The unique identifier for the Product
                                readOnly: true
                                example: 5eb9fd05caef491eb9757183
                              productName:
                                type: string
                                description: User-facing name of the Product
                                example: White Cup
                              productSlug:
                                type: string
                                description: Slug for the Product
                                example: white-cup
                              variantId:
                                type: string
                                description: Identifier for the Product Variant (SKU)
                                example: 5eb9fcace279761d8199790c
                              variantName:
                                type: string
                                description: User-facing name of the Product Variant (SKU)
                                example: Red
                              variantSlug:
                                type: string
                                description: Slug for the Product Variant (SKU)
                                example: red
                              variantSKU:
                                description: The user-defined custom SKU of the Product Variant (SKU)
                                type: string
                                example: red-medium
                              variantImage:
                                properties:
                                  url:
                                    description: The hosted location for the Variant's image
                                    type: string
                                    format: uri
                                    example: https://dev-assets.website-files.com/5bfedb42bab0ad90fa7dac03/5bfedb42bab0ad90fa7dad2e_5bb3d019b3465c6e8a324dd7_458036-unsplas.png
                                  file:
                                    type: object
                                    properties:
                                      size:
                                        description: The image size in bytes
                                        type: number
                                        example: 21064
                                      originalFileName:
                                        description: the original name of the image
                                        type: string
                                        example: cup.jpg
                                      createdOn:
                                        description: The creation timestamp of the image
                                        type: string
                                        format: date-time
                                        example: '2018-12-03T22:06:15.761Z'
                                      contentType:
                                        description: The MIME type of the image
                                        format: mime-type
                                        type: string
                                        example: image/jpeg
                                      width:
                                        description: The image width in pixels
                                        type: integer
                                        example: 640
                                      height:
                                        description: The image height in pixels
                                        type: integer
                                        example: 480
                                      variants:
                                        description: Variants of the supplied image
                                        type: array
                                        items:
                                          type: object
                                          properties:
                                            url:
                                              description: The hosted location for the Variant's image
                                              format: uri
                                              type: string
                                              example: https://dev-assets.website-files.com/5bfedb42bab0ad90fa7dac03/5bfedb42bab0ad90fa7dad2e_5bb3d019b3465c6e8a324dd7_458036-example.png
                                            originalFileName:
                                              type: string
                                              example: cup.jpg
                                            size:
                                              description: The image size in bytes
                                              type: number
                                              example: 12040
                                            width:
                                              description: The image width in pixels
                                              type: integer
                                              example: 320
                                            height:
                                              description: The image height in pixels
                                              type: integer
                                              example: 240
                              variantPrice:
                                description: The price corresponding to the variant
                                properties:
                                  unit:
                                    description: The three-letter ISO currency code
                                    type: string
                                    example: USD
                                  value:
                                    description: The numeric value in the base unit of the currency
                                    type: string
                                    example: '5892'
                                  string:
                                    description: The user-facing string representation of the amount
                                    type: string
                                    example: $58.92
                              weight:
                                type: number
                                example: 5
                                default: null
                                nullable: true
                                description: The physical weight of the variant if provided, or null
                              width:
                                type: number
                                example: 4
                                nullable: true
                                default: null
                                description: The physical width of the variant if provided, or null
                              height:
                                type: number
                                example: 7
                                nullable: true
                                default: null
                                description: The physical height of the variant if provided, or null
                              length:
                                type: number
                                example: 2
                                nullable: true
                                default: null
                                description: The physical length of the variant if provided, or null
                        purchasedItemsCount:
                          type: number
                          description: The sum of all 'count' fields in 'purchasedItems'.
                          example: 1
                        stripeDetails:
                          description: An object with various Stripe IDs, useful for linking into the stripe dashboard.
                          properties:
                            subscriptionId:
                              type: string
                              format: objectid
                              example: sub_1J6xwG2eZvKYlo2CXu9Zt0Tn
                              nullable: true
                              description: Stripe-generated identifier for the Subscription
                            paymentMethod:
                              type: string
                              format: objectid
                              example: pm_1J6xwG2eZvKYlo2CXu9Zt0Tn
                              nullable: true
                              description: Stripe-generated identifier for the PaymentMethod used
                            paymentIntentId:
                              type: string
                              format: objectid
                              example: pi_1J6xwG2eZvKYlo2CXu9Zt0Tn
                              nullable: true
                              description: Stripe-generated identifier for the PaymentIntent, or null
                            customerId:
                              type: string
                              format: objectid
                              example: cus_E5ajeiWNHEtcAW
                              description: Stripe-generated customer identifier, or null
                              nullable: true
                            chargeId:
                              type: string
                              format: objectid
                              description: Stripe-generated charge identifier, or null
                              example: ch_1DdPYQKMjGA7k9mI2AKiBY6u
                              nullable: true
                            disputeId:
                              type: string
                              format: objectid
                              description: Stripe-generated dispute identifier, or null
                              example: null
                              nullable: true
                            refundId:
                              type: string
                              format: objectid
                              description: Stripe-generated refund identifier, or null
                              example: null
                              nullable: true
                            refundReason:
                              type: string
                              description: Stripe-generated refund reason, or null
                              example: requested_by_customer
                              nullable: true
                        stripeCard:
                          description: 'Details on the card used to fulfill this order, if this order was finalized with Stripe.

                            '
                          properties:
                            last4:
                              type: string
                              description: The last 4 digits on the card as a string
                              example: '4242'
                            brand:
                              type: string
                              description: The card's brand (ie. credit card network)
                              example: Visa
                              enum:
                              - Visa
                              - American Express
                              - MasterCard
                              - Discover
                              - JCB
                              - Diners Club
                              - Unknown
                            ownerName:
                              type: string
                              description: The name on the card.
                              example: Customerio Namen
                            expires:
                              type: object
                              description: The card's expiration date.
                              properties:
                                year:
                                  description: Year that the card expires
                                  type: number
                                  example: 2025
                                month:
                                  description: Month that the card expires
                                  type: number
                                  example: 12
                        paypalDetails:
                          type: object
                          properties:
                            orderId:
                              type: string
                              description: PayPal order identifier
                              example: 1a2b3c4d5e6f7g8h9i0j
                            payerId:
                              type: string
                              description: PayPal payer identifier
                              example: 9k8j7i6h5g4f3e2d1c0b
                            captureId:
                              type: string
                              description: PayPal capture identifier
                              example: qwe123rty456uio789p
                            refundId:
                              type: string
                              description: PayPal refund identifier
                              example: abcde12345fghij67890
                            refundReason:
                              type: string
                              description: PayPal-issued reason for the refund
                              example: Customer requested refund
                            disputeId:
                              type: string
                              description: PayPal dispute identifier
                              example: zxcvbnm987poiuytrewq
                        customData:
                          type: array
                          additionalProperties: true
                          description: 'An array of additional inputs for custom order data gathering. Each object in the array represents an input with a name, and a textInput, textArea, or checkbox value.

                            '
                          items:
                            type: object
                        metadata:
                          type: object
                          properties:
                            isBuyNow:
                              type: boolean
                              example: false
                        isCustomerDeleted:
                          type: boolean
                          description: 'A boolean indicating whether the customer has been deleted from the site.

                            '
                          example: false
                        isShippingRequired:
                          type: boolean
                          description: 'A boolean indicating whether the order contains one or more purchased items that require shipping.

                            '
                          example: false
                        hasDownloads:
                          type: boolean
                          description: 'A boolean indicating whether the order contains one or more purchased items that are downloadable.

                            '
                          example: false
                        paymentProcessor:
                          type: string
                          description: 'A string indicating the payment processor used for this order.

                            '
                          example: stripe
                        totals:
                          description: An object describing various pricing totals
                          properties:
                            subtotal:
                              description: The subtotal price
                              properties:
                                unit:
                                  description: The three-letter ISO currency code
                                  type: string
                                  example: USD
                                value:
                                  description: The numeric value in the base unit of the currency
                                  type: string
                                  example: '5892'
                                string:
                                  description: The user-facing string representation of the amount
                                  type: string
                                  example: $58.92
                            extras:
                              type: array
                              description: An array of extra items, includes discounts, shipping, and taxes.
                              items:
                                description: Extra order items, includes discounts, shipping, and taxes.
                                example:
                                  type: tax
                                  name: State Taxes
                                  description: CA Taxes (6.25%)
                                  price:
                                    unit: USD
                                    value: 344
                                    string: $3.44
                                properties:
                                  type:
                                    type: string
                                    example: tax
                                    description: The type of extra item this is.
                                    enum:
                                    - discount
                                    - discount-shipping
                                    - shipping
                                    - tax
                                  name:
                                    type: string
                                    description: A human-readable (but English) name for this extra charge.
                                    example: shipping
                                  description:
                                    type: string
                                    description: A human-readable (but English) description of this extra charge.
                                    example: Flat Rate
                                  price:
                                    description: The price for the item
                                    properties:
                                      unit:
                                        description: The three-letter ISO currency code
                                        type: string
                                        example: USD
                                      value:
                                        description: The numeric value in the base unit of the currency
                                        type: string
                                        example: '5892'
                                      string:
                                        description: The user-facing string representation of the amount
                                        type: string
                                        example: $58.92
                            total:
                              description: The total price
                              properties:
                                unit:
                                  description: The three-letter ISO currency code
                                  type: string
                                  example: USD
                                value:
                                  description: The numeric value in the base unit of the currency
                                  type: string
                                  example: '5892'
                                string:
                                  description: The user-facing string representation of the amount
                                  type: string
                                  example: $58.92
                        downloadFiles:
                          description: An array of downloadable file objects.
                          type: array
                          default: []
                          items:
                            properties:
                              id:
                                type: string
                                description: The unique identifier for the downloadable file
                                example: 5e9a5eba75e0ac242e1b6f64
                              name:
                                type: string
                                description: The user-facing name for the downloadable file
                                example: The modern web design process - Webflow Ebook.pdf
                              url:
                                type: string
                                format: uri
                                description: The hosted location for the downloadable file
                                example: https://webflow.com/dashboard/download-digital-product?payload=5d93ba5e38c6b0160ab711d3;e7634a;5eb1aac72912ec06f561278c;5e9a5eba75e0ac242e1b6f63:ka2nehxy:4a1ee0a632feaab94294350087215ed89533f2f530903e3b933b638940e921aa
                      example:
                        orderId: fc7-128
                        status: refunded
                        comment: 'Customer requested gift wrapping and a personalized note saying: Happy Birthday, Ford! 🎉 Please ensure the item is packed with extra bubble wrap for safe transit.'
                        orderComment: Please gift wrap with a personal note saying "Happy Birthday, Ford! 🎉
                        acceptedOn: '2024-03-29T21:29:21.555Z'
                        fulfilledOn: '2024-03-29T21:29:21.555Z'
                        refundedOn: '2024-04-08T18:25:04.238Z'
                        disputedOn: '2024-03-29T21:29:21.555Z'
                        disputeUpdatedOn: '2024-03-29T21:29:21.555Z'
                        disputeLastStatus: charge_refunded
                        customerPaid:
                          unit: USD
                          value: 11873
                          string: $ 118.73 USD
                        netAmount:
                          unit: USD
                          value: 11262
                          string: $ 112.62 USD
                        applicationFee:
                          unit: USD
                          value: 237
                          string: $ 2.37 USD
                        allAddresses:
                        - type: billing
                          addressee: Arthur Dent
                          line1: 20 W 34th St
                          line2: Empire State Building
                          city: New York
                          state: New York
                          country: US
                          postalCode: '10118'
                        - type: shipping
                          addressee: Arthur Dent
                          line1: 20 W 34th St
                          line2: Empire State Building
                          city: New York
                          state: New York
                          country: US
                          postalCode: '10118'
                        shippingAddress:
                          type: shipping
                          japanType: kanji
                          addressee: Arthur Dent
                          line1: 20 W 34th St
                          line2: Empire State Building
                          city: New York
                          state: New York
                          country: US
                          postalCode: '10118'
                        shippingProvider: Shipping Company, Co.
                        shippingTracking: tr00000000001
                        shippingTrackingURL: https://www.shippingcompany.com/tracking/tr00000000001
                        customerInfo:
                          fullName: Arthur Dent
                          email: arthur.dent@example.com
                        purchasedItems:
                        - count: 1
                          rowTotal:
                            unit: USD
                            value: 5561
                            string: $ 55.61 USD
                          productId: 66072fb61b89448912e26791
                          productName: Luxurious Fresh Ball
                          productSlug: luxurious-fresh-ball
                          variantId: 66072fb71b89448912e2683f
                          variantName: 'Luxurious Fresh Ball Generic: Bronze, Practical: Plastic'
                          variantSlug: luxurious-fresh-ball-generic-bronze-practical-plastic
                          variantSKU: luxurious-fresh-ball-generic-bronze-practical-plastic
                          variantImage:
                            url: https://dev-assets.website-files.com/66072f39417a2a35b2589cc7/66072fb51b89448912e2672c_image14.jpeg
                            file: null
                          variantPrice:
                            unit: USD
                            value: 5561
                            string: $ 55.61 USD
                          weight: 11
                          height: 70
                          width: 82
                          length: 9
                        - count: 1
                          rowTotal:
                            unit: USD
                            value: 5344
                            string: $ 53.44 USD
                          productId: 66072fb61b89448912e26799
                          productName: Recycled Steel Gloves
                          productSlug: recycled-steel-gloves
                          variantId: 66072fb91b89448912e26ab9
                          variantName: 'Recycled Steel Gloves Electronic: Granite, Handcrafted: grey'
                          variantSlug: recycled-steel-gloves-electronic-granite-handcrafted-grey
                          variantSKU: recycled-steel-gloves-electronic-granite-handcrafted-grey
                          variantImage:
                            url: https://dev-assets.website-files.com/66072f39417a2a35b2589cc7/66072fb51b89448912e2671e_image2.jpeg
                            file: null
                          variantPrice:
                            unit: USD
                            value: 5344
                            string: $ 53.44 USD
                          weight: 38
                          height: 85
                          width: 76
                          length: 40
                        purchasedItemsCount: 2
                        stripeDetails:
                          customerId: cus_PpRsNHwWdUoRKR
                          paymentMethod: pm_1OzmzBJYFi4lcbXWHKNdXU7j
                          chargeId: ch_3OzmzDJYFi4lcbXW1ndkkrH2
                          disputeId: null
                          paymentIntentId: pi_3OzmzDJYFi4lcbXW1hTBW6ft
                          subscriptionId: null
                          refundId: re_3OzmzDJYFi4lcbXW1kFAmlBk
                          refundReason: fraudulent
                        stripeCard:
                          last4: '4242'
                          brand: Visa
                          ownerName: Arthur Dent
                          expires:
                            month: 4
                            year: 2024
                        paypalDetails: null
                        customData:
                        - {}
                        metadata:
                          isBuyNow: false
                          hasDownloads: false
                          paymentProcessor: stripe
                        billingAddress:
                          type: billing
                          addressee: Arthur Dent
                          line1: 20 W 34th St
                          line2: Empire State Building
                          city: New York
                          state: New York
                          country: US
                          postalCode: '10118'
                        totals:
                          subtotal:
                            unit: USD
                            value: 10905
                            string: $ 109.05 USD
                          extras:
                          - type: tax
                            name: State Taxes
                            description: NY Taxes (4.00%)
                            price:
                              unit: USD
                              value: 436
                              string: $ 4.36 USD
                          - type: tax
                            name: City Taxes
                            description: NEW YORK Taxes (4.88%)
                            price:
                              unit: USD
                              value: 532
                              string: $ 5.32 USD
                          - type: shipping
                            name: Flat
                            description: ''
                            price:
                              unit: USD
                              value: 0
                              string: $ 0.00 USD
                          total:
                            unit: USD
                            value: 11873
                            string: $ 118.73 USD
                        isCustomerDeleted: false
                        isShippingRequired: true
                        downloadFiles:
                        - id: 5e9a5eba75e0ac242e1b6f64
                          name: New product guide
                          url: https://webflow.com/dashboard/download-digital-product?payload=5d93ba5e38c6b0160ab711d3;e7634a;5eb1aac72912ec06f561278c;5e9a5eba75e0ac242e1b6f63:ka2nehxy:4a1ee0a632feaab94294350087215ed89533f2f530903e3b933b638940e921aa
                  pagination:
                    description: Pagination object
                    type: object
                    required:
                    - limit
                    - offset
                    - total
                    properties:
                      limit:
                        type: integer
                        description: The limit used for pagination
                        example: 100
                        readOnly: true
                      offset:
                        type: integer
                        description: The offset used for pagination
                        example: 0
                        readOnly: true
                      total:
                        type: integer
                        description: The total number of records
                        example: 100
                        readOnly: true
                example:
                  orders:
                  - orderId: 7c1-9fd
                    status: unfulfilled
                    comment: 'Customer requested gift wrapping and a personalized note saying: Happy Birthday, Ford! 🎉 Please ensure the item is packed with extra bubble wrap for safe transit.'
                    orderComment: Please gift wrap with a personal note saying "Happy Birthday, Ford! 🎉
                    acceptedOn: '2024-04-10T13:16:21.976Z'
                    fulfilledOn: null
                    refundedOn: null
                    disputedOn: null
                    disputeUpdatedOn: null
                    disputeLastStatus: null
                    customerPaid:
                      unit: USD
                      value: 21155
                      string: $ 211.55 USD
                    netAmount:
                      unit: USD
                      value: 20089
                      string: $ 200.89 USD
                    applicationFee:
                      unit: USD
                      value: 423
                      string: $ 4.23 USD
                    allAddresses:
                    - type: billing
                      addressee: Arthur Dent
                      line1: 20 W 34th St
                      line2: Empire State Building
                      city: New York
                      state: New York
                      country: US
                      postalCode: '10118'
                    - type: shipping
                      addressee: Arthur Dent
                      line1: 20 W 34th St
                      line2: Empire State Building
                      city: New York
                      state: New York
                      country: US
                      postalCode: '10118'
                    shippingAddress:
                      type: shipping
                      japanType: kanji
                      addressee: Arthur Dent
                      line1: 20 W 34th St
                      line2: Empire State Building
                      city: New York
                      state: New York
                      country: US
                      postalCode: '10118'
                    shippingProvider: Shipping Company, Co.
                    shippingTracking: tr00000000002
                    shippingTrackingURL: https://www.shippingcompany.com/tracking/tr00000000002
                    customerInfo:
                      fullName: Arthur Dent
                      email: arthur.dent@example.com
                    purchasedItems:
                    - count: 2
                      rowTotal:
                        unit: USD
                        value: 11122
                        string: $ 111.22 USD
                      productId: 66072fb61b89448912e26791
                      productName: Luxurious Fresh Ball
                      productSlug: luxurious-fresh-ball
                      variantId: 66072fb71b89448912e2683f
                      variantName: 'Luxurious Fresh Ball Generic: Bronze, Practical: Plastic'
                      variantSlug: luxurious-fresh-ball-generic-bronze-practical-plastic
                      variantSKU: luxurious-fresh-ball-generic-bronze-practical-plastic
                      variantImage:
                        url: https://dev-assets.website-files.com/66072f39417a2a35b2589cc7/66072fb51b89448912e2672c_image14.jpeg
                        file: null
                      variantPrice:
                        unit: USD
                        value: 5561
                        string: $ 55.61 USD
                      weight: 11
                      height: 70
                      width: 82
                      length: 9
                    - count: 1
                      rowTotal:
                        unit: USD
                        value: 8309
                        string: $ 83.09 USD
                      productId: 66072fb61b89448912e2678b
                      productName: Incredible Bronze Towels
                      productSlug: incredible-bronze-towels
                      variantId: 66072fb71b89448912e2681e
                      variantName: 'Incredible Bronze Towels Sleek: Frozen, Incredible: Metal'
                      variantSlug: incredible-bronze-towels-sleek-frozen-incredible-metal
                      variantSKU: incredible-bronze-towels-sleek-frozen-incredible-metal
                      variantImage:
                        url: https://dev-assets.website-files.com/66072f39417a2a35b2589cc7/66072fb51b89448912e26729_image16.jpeg
                        file: null
                      variantPrice:
                        unit: USD
                        value: 8309
                        string: $ 83.09 USD
                      weight: null
                      height: 72
                      width: 19
                      length: 18
                    purchasedItemsCount: 3
                    stripeDetails:
                      customerId: cus_Ptod8KJBiiPgnH
                      paymentMethod: pm_1P410gJYFi4lcbXWbeKghqjK
                      chargeId: ch_3P410iJYFi4lcbXW0DxUkzCH
                      disputeId: null
                      paymentIntentId: pi_3P410iJYFi4lcbXW0EKKgcVg
                      subscriptionId: null
                      refundId: null
                      refundReason: null
                    stripeCard:
                      last4: '4242'
                      brand: Visa
                      ownerName: Arthur Dent
                      expires:
                        month: 4
                        year: 2025
                    paypalDetails: null
                    customData:
                    - {}
                    metadata:
                      isBuyNow: false
                    hasDownloads: false
                    paymentProcessor: stripe
                    billingAddress:
                      type: billing
                      addressee: Arthur Dent
                      line1: 20 W 34th St
                      line2: Empire State Building
                      city: New York
                      state: New York
                      country: US
                      postalCode: '10118'
                  - orderId: fc7-128
                    status: refunded
                    comment: Example comment to myself
                    orderComment: ''
                    acceptedOn: '2024-03-29T21:29:21.555Z'
                    fulfilledOn: null
                    refundedOn: '2024-04-08T18:25:04.238Z'
                    disputedOn: null
                    disputeUpdatedOn: null
                    disputeLastStatus: null
                    customerPaid:
                      unit: USD
                      value: 11873
                      string: $ 118.73 USD
                    netAmount:
                      unit: USD
                      value: 11262
                      string: $ 112.62 USD
                    applicationFee:
                      unit: USD
                      value: 237
                      string: $ 2.37 USD
                    allAddresses:
                    - type: billing
                      addressee: Arthur Dent
                      line1: 20 W 34th St
                      line2: Empire State Building
                      city: New York
                      state: New York
                      country: US
                      postalCode: '10118'
                    - type: shipping
                      addressee: Arthur Dent
                      line1: 20 W 34th St
                      line2: Empire State Building
                      city: New York
                      state: New York
                      country: US
                      postalCode: '10118'
                    shippingAddress:
                      type: shipping
                      addressee: Arthur Dent
                      line1: 20 W 34th St
                      line2: Empire State Building
                      city: New York
                      state: New York
                      country: US
                      postalCode: '10118'
                    shippingProvider: Shipping Company, Co.
                    shippingTracking: tr00000000001
                    shippingTrackingURL: https://www.shippingcompany.com/tracking/tr00000000001
                    customerInfo:
                      fullName: Arthur Dent
                      email: arthur.dent@example.com
                    purchasedItems:
                    - count: 1
                      rowTotal:
                        unit: USD
                        value: 5561
                        string: $ 55.61 USD
                      productId: 66072fb61b89448912e26791
                      productName: Luxurious Fresh Ball
                      productSlug: luxurious-fresh-ball
                      variantId: 66072fb71b89448912e2683f
                      variantName: 'Luxurious Fresh Ball Generic: Bronze, Practical: Plastic'
                      variantSlug: luxurious-fresh-ball-generic-bronze-practical-plastic
                      variantSKU: luxurious-fresh-ball-generic-bronze-practical-plastic
                      variantImage:
                        url: https://dev-assets.website-files.com/66072f39417a2a35b2589cc7/66072fb51b89448912e2672c_image14.jpeg
                        file: null
                      variantPrice:
                        unit: USD
                        value: 5561
                        string: $ 55.61 USD
                      weight: 11
                      height: 70
                      width: 82
                      length: 9
                    - count: 1
                      rowTotal:
                        unit: USD
                        value: 5344
                        string: $ 53.44 USD
                      productId: 66072fb61b89448912e26799
                      productName: Recycled Steel Gloves
                      productSlug: recycled-steel-gloves
                      variantId: 66072fb91b89448912e26ab9
                      variantName: 'Recycled Steel Gloves Electronic: Granite, Handcrafted: grey'
                      variantSlug: recycled-steel-gloves-electronic-granite-handcrafted-grey
                      variantSKU: recycled-steel-gloves-electronic-granite-handcrafted-grey
                      variantImage:
                        url: https://dev-assets.website-files.com/66072f39417a2a35b2589cc7/66072fb51b89448912e2671e_image2.jpeg
                        file: null
                      variantPrice:
                        unit: USD
                        value: 5344
                        string: $ 53.44 USD
                      weight: 38
                      height: 85
                      width: 76
                      length: 40
                    purchasedItemsCount: 2
                    stripeDetails:
                      customerId: cus_PpRsNHwWdUoRKR
                      paymentMethod: pm_1OzmzBJYFi4lcbXWHKNdXU7j
                      chargeId: ch_3OzmzDJYFi4lcbXW1ndkkrH2
                      disputeId: null
                      paymentIntentId: pi_3OzmzDJYFi4lcbXW1hTBW6ft
                      subscriptionId: null
                      refundId: re_3OzmzDJYFi4lcbXW1kFAmlBk
                      refundReason: fraudulent
                    stripeCard:
                      last4: '4242'
                      brand: Visa
                      ownerName: Arthur Dent
                      expires:
                        month: 4
                        year: 2024
                    paypalDetails: null
                    customData:
                    - {}
                    metadata:
                      isBuyNow: false
                      hasDownloads: false
                      paymentProcessor: stripe
                    billingAddress:
                      type: billing
                      addressee: Arthur Dent
                      line1: 20 W 34th St
                      line2: Empire State Building
                      city: New York
                      state: New York
                      country: US
                      postalCode: '10118'
                    totals:
                      subtotal:
                        unit: USD
                        value: 10905
                        string: $ 109.05 USD
                      extras:
                      - type: tax
                        name: State Taxes
                        description: NY Taxes (4.00%)
                        price:
                          unit: USD
                          value: 436
                          string: $ 4.36 USD
                      - type: tax
                        name: City Taxes
                        description: NEW YORK Taxes (4.88%)
                        price:
                          unit: USD
                          value: 532
                          string: $ 5.32 USD
                      - type: shipping
                        name: Flat
                        description: ''
                        price:
                          unit: USD
                          value: 0
                          string: $ 0.00 USD
                      total:
                        unit: USD
                        value: 11873
                        string: $ 118.73 USD
                    isCustomerDeleted: false
                    isShippingRequired: true
                    downloadFiles:
                    - id: 5e9a5eba75e0ac242e1b6f64
                      name: New product guide
                      url: https://webflow.com/dashboard/download-digital-product?payload=5d93ba5e38c6b0160ab711d3;e7634a;5eb1aac72912ec06f561278c;5e9a5eba75e0ac242e1b6f63:ka2nehxy:4a1ee0a632feaab94294350087215ed89533f2f530903e3b933b638940e921aa
                  pagination:
                    limit: 100
                    offset: 0
                    total: 2
        '400':
          description: Request body was incorrectly formatted.
          x-logErrorCode: 400
          content:
            application/json:
              schema:
                type: object
                example:
                  code: not_authorized
                  message: Request not authorized
                  externalReference: null
                  details: []
                properties:
                  code:
                    type: string
                    description: Error code
                    example: not_authorized
                    enum:
                    - bad_request
                    - collection_not_found
                    - conflict
                    - duplicate_collection
                    - duplicate_user_email
                    - ecommerce_not_enabled
                    - forbidden
                    - forms_require_republish
                    - incompatible_webhook_filter
                    - internal_error
                    - invalid_auth_version
                    - invalid_credentials
                    - invalid_domain
                    - invalid_user_email
                    - item_not_found
                    - missing_scopes
                    - no_domains
                    - not_authorized
                    - not_enterprise_plan_site
                    - not_enterprise_plan_workspace
                    - order_not_found
                    - resource_not_found
                    - too_many_requests
                    - unsupported_version
                    - unsupported_webhook_trigger_type
                    - user_limit_reached
                    - user_not_found
                    - users_not_enabled
                    - validation_error
                  message:
                    type: string
                    description: Error message
                    example: Request not authorized
                  externalReference:
                    type: string
                    description: Link to more information
                    example: ''
                  details:
                    type: array
                    description: Array of errors
                    items:
                    - type: string
                      example: Invalid email address
                      description: Error message
                    - type: object
                      example:
                        field: email
                        message: Invalid email address
                      description: Error message
                    example: []
              example:
                code: bad_request
                message: 'Bad Request: Request is malformed'
                externalReference: null
                details: []
        '401':
          description: Provided access token is invalid or does not have access to requested resource
          x-logErrorCode: 401
          content:
            application/json:
              schema:
                type: object
                example:
                  code: not_authorized
                  message: Request not authorized
                  externalReference: null
                  details: []
                properties:
                  code:
                    type: string
                    description: Error code
                    example: not_authorized
                    enum:
                    - bad_request
                    - collection_not_found
                    - conflict
                    - duplicate_collection
                    - duplicate_user_email
                    - ecommerce_not_enabled
                    - forbidden
                    - forms_require_republish
                    - incompatible_webhook_filter
                    - internal_error
                    - invalid_auth_version
                    - invalid_credentials
                    - invalid_domain
                    - invalid_user_email
                    - item_not_found
                    - missing_scopes
                    - no_domains
                    - not_authorized
                    - not_enterprise_plan_site
                    - not_enterprise_plan_workspace
                    - order_not_found
                    - resource_not_found
                    - too_many_requests
                    - unsupported_version
                    - unsupported_webhook_trigger_type
                    - user_limit_reached
                    - user_not_found
                    - users_not_enabled
                    - validation_error
                  message:
                    type: string
                    description: Error message
                    example: Request not authorized
                  externalReference:
                    type: string
                    description: Link to more information
                    example: ''
                  details:
                    type: array
                    description: Array of errors
                    items:
                    - type: string
                      example: Invalid email address
                      description: Error message
                    - type: object
                      example:
                        field: email
                        message: Invalid email address
                      description: Error message
                    example: []
              example:
                code: not_authorized
                message: Request not authorized
                externalReference: null
                details: []
        '403':
          description: Provided access token is valid, but is missing the required scopes.
          x-logErrorCode: 403
          content:
            application/json:
              schema:
                type: object
                example:
                  code: not_authorized
                  message: Request not authorized
                  externalReference: null
                  details: []
                properties:
                  code:
                    type: string
                    description: Error code
                    example: not_authorized
                    enum:
                    - bad_request
                    - collection_not_found
                    - conflict
                    - duplicate_collection
                    - duplicate_user_email
                    - ecommerce_not_enabled
                    - forbidden
                    - forms_require_republish
                    - incompatible_webhook_filter
                    - internal_error
                    - invalid_auth_version
                    - invalid_credentials
                    - invalid_domain
                    - invalid_user_email
                    - item_not_found
                    - missing_scopes
                    - no_domains
                    - not_authorized
                    - not_enterprise_plan_site
                    - not_enterprise_plan_workspace
                    - order_not_found
                    - resource_not_found
                    - too_many_requests
                    - unsupported_version
                    - unsupported_webhook_trigger_type
                    - user_limit_reached
                    - user_not_found
                    - users_not_enabled
                    - validation_error
                  message:
                    type: string
                    description: Error message
                    example: Request not authorized
                  externalReference:
                    type: string
                    description: Link to more information
                    example: ''
                  details:
                    type: array
                    description: Array of errors
                    items:
                    - type: string
                      example: Invalid email address
                      description: Error message
                    - type: object
                      example:
                        field: email
                        message: Invalid email address
                      description: Error message
                    example: []
              example:
                code: missing_scopes
                message: 'OAuthForbidden: You are missing the following scopes - components:write'
                externalReference: null
                details: []
        '404':
          description: Requested resource not found
          x-logErrorCode: 404
          content:
            application/json:
              schema:
                type: object
                example:
                  code: not_authorized
                  message: Request not authorized
                  externalReference: null
                  details: []
                properties:
                  code:
                    type: string
                    description: Error code
                    example: not_authorized
                    enum:
                    - bad_request
                    - collection_not_found
                    - conflict
                    - duplicate_collection
                    - duplicate_user_email
                    - ecommerce_not_enabled
                    - forbidden
                    - forms_require_republish
                    - incompatible_webhook_filter
                    - internal_error
                    - invalid_auth_version
                    - invalid_credentials
                    - invalid_domain
                    - invalid_user_email
                    - item_not_found
                    - missing_scopes
                    - no_domains
                    - not_authorized
                    - not_enterprise_plan_site
                    - not_enterprise_plan_workspace
                    - order_not_found
                    - resource_not_found
                    - too_many_requests
                    - unsupported_version
                    - unsupported_webhook_trigger_type
                    - user_limit_reached
                    - user_not_found
                    - users_not_enabled
                    - validation_error
                  message:
                    type: string
                    description: Error message
                    example: Request not authorized
                  externalReference:
                    type: string
                    description: Link to more information
                    example: ''
                  details:
                    type: array
                    description: Array of errors
                    items:
                    - type: string
                      example: Invalid email address
                      description: Error message
                    - type: object
                      example:
                        field: email
                        message: Invalid email address
                      description: Error message
                    example: []
              example:
                code: resource_not_found
                message: 'Requested resource not found: The site cannot be found'
                externalReference: null
                details: []
        '409':
          description: The site does not have ecommerce enabled.
          x-logErrorCode: 409
          content:
            application/json:
              schema:
                type: object
                example:
                  code: not_authorized
                  message: Request not authorized
                  externalReference: null
                  details: []
                properties:
                  code:
                    type: string
                    description: Error code
                    example: not_authorized
                    enum:
                    - bad_request
                    - collection_not_found
                    - conflict
                    - duplicate_collection
                    - duplicate_user_email
                    - ecommerce_not_enabled
                    - forbidden
                    - forms_require_republish
                    - incompatible_webhook_filter
                    - internal_error
                    - invalid_auth_version
                    - invalid_credentials
                    - invalid_domain
                    - invalid_user_email
                    - item_not_found
                    - missing_scopes
                    - no_domains
                    - not_authorized
                    - not_enterprise_plan_site
                    - not_enterprise_plan_workspace
                    - order_not_found
                    - resource_not_found
                    - too_many_requests
                    - unsupported_version
                    - unsupported_webhook_trigger_type
                    - user_limit_reached
                    - user_not_found
                    - users_not_enabled
                    - validation_error
                  message:
                    type: string
                    description: Error message
                    example: Request not authorized
                  externalReference:
                    type: string
                    description: Link to more information
                    example: ''
                  details:
                    type: array
                    description: Array of errors
                    items:
                    - type: string
                      example: Invalid email address
                      description: Error message
                    - type: object
                      example:
                        field: email
                        message: Invalid email address
                      description: Error message
                    example: []
              example:
                code: ecommerce_not_enabled
                message: Ecommerce is not yet initialized
                externalReference: null
                details: []
        '429':
          description: The rate limit of the provided access_token has been reached. Please have your application respect the X-RateLimit-Remaining header we include on API responses.
          x-logErrorCode: 429
          headers:
            X-RateLimit-Remaining:
              description: Contains the number of available requests remaining in the current minute
              schema:
                type: number
            X-RateLimit-Limit:
              description: Contains your current overall rate limit per minute
              schema:
                type: number
          content:
            application/json:
              schema:
                type: object
                example:
                  code: not_authorized
                  message: Request not authorized
                  externalReference: null
                  details: []
                properties:
                  code:
                    type: string
                    description: Error code
                    example: not_authorized
                    enum:
                    - bad_request
                    - collection_not_found
                    - conflict
                    - duplicate_collection
                    - duplicate_user_email
                    - ecommerce_not_enabled
                    - forbidden
                    - forms_require_republish
                    - incompatible_webhook_filter
                    - internal_error
                    - invalid_auth_version
                    - invalid_credentials
                    - invalid_domain
                    - invalid_user_email
                    - item_not_found
                    - missing_scopes
                    - no_domains
                    - not_authorized
                    - not_enterprise_plan_site
                    - not_enterprise_plan_workspace
                    - order_not_found
                    - resource_not_found
                    - too_many_requests
                    - unsupported_version
                    - unsupported_webhook_trigger_type
                    - user_limit_reached
                    - user_not_found
                    - users_not_enabled
                    - validation_error
                  message:
                    type: string
                    description: Error message
                    example: Request not authorized
                  externalReference:
                    type: string
                    description: Link to more information
                    example: ''
                  details:
                    type: array
                    description: Array of errors
                    items:
                    - type: string
                      example: Invalid email address
                      description: Error message
                    - type: object
                      example:
                        field: email
                        message: Invalid email address
                      description: Error message
                    example: []
              example:
                code: too_many_requests
                message: Too many requests
                externalReference: null
                details: []
        '500':
          description: We had a problem with our server. Try again later.
          content:
            application/json:
              x-logErrorCode: 500
              schema:
                type: object
                example:
                  code: not_authorized
                  message: Request not authorized
                  externalReference: null
                  details: []
                properties:
                  code:
                    type: string
                    description: Error code
                    example: not_authorized
                    enum:
                    - bad_request
                    - collection_not_found
                    - conflict
                    - duplicate_collection
                    - duplicate_user_email
                    - ecommerce_not_enabled
                    - forbidden
                    - forms_require_republish
                    - incompatible_webhook_filter
                    - internal_error
                    - invalid_auth_version
                    - invalid_credentials
                    - invalid_domain
                    - invalid_user_email
                    - item_not_found
                    - missing_scopes
                    - no_domains
                    - not_authorized
                    - not_enterprise_plan_site
                    - not_enterprise_plan_workspace
                    - order_not_found
                    - resource_not_found
                    - too_many_requests
                    - unsupported_version
                    - unsupported_webhook_trigger_type
                    - user_limit_reached
                    - user_not_found
                    - users_not_enabled
                    - validation_error
                  message:
                    type: string
                    description: Error message
                    example: Request not authorized
                  externalReference:
                    type: string
                    description: Link to more information
                    example: ''
                  details:
                    type: array
                    description: Array of errors
                    items:
                    - type: string
                      example: Invalid email address
                      description: Error message
                    - type: object
                      example:
                        field: email
                        message: Invalid email address
                      description: Error message
                    example: []
              example:
                code: internal_error
                message: An Internal Error occurred
                externalReference: null
                details: []
  /sites/{site_id}/orders/{order_id}:
    get:
      x-fern-sdk-group-name: orders
      x-fern-sdk-method-name: get
      security:
      - OAuth2:
        - ecommerce:read
      operationId: get-order
      summary: Webflow Get Order
      description: 'Retrieve a single product by its ID. All of its SKUs will also be

        retrieved.


        Required scope | `ecommerce:read`

        '
      tags:
      - Orders
      parameters:
      - name: site_id
        in: path
        description: Unique identifier for a Site
        example: 580e63e98c9a982ac9b8b741
        required: true
        schema:
          type: string
          format: objectid
          default: null
      - name: order_id
        in: path
        description: Unique identifier for an Order
        example: 5e8518516e147040726cc415
        required: true
        schema:
          type: string
          format: objectid
      responses:
        '200':
          description: Request was successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  orderId:
                    type: string
                    readOnly: true
                    description: 'The order ID. Will usually be 6 hex characters, but can also be 9

                      hex characters if the site has a very large number of Orders.

                      Randomly assigned.

                      '
                    example: dfa-3f1
                  status:
                    type: string
                    example: unfulfilled
                    description: 'The status of the Order

                      '
                    enum:
                    - pending
                    - unfulfilled
                    - fulfilled
                    - disputed
                    - dispute-lost
                    - refunded
                  comment:
                    type: string
                    description: A comment string for this Order, which is editable by API user (not used by Webflow).
                    example: 'Customer requested gift wrapping and a personalized note saying: Happy Birthday, Ford! 🎉 Please ensure the item is packed with extra bubble wrap for safe transit.'
                  orderComment:
                    type: string
                    description: A comment that the customer left when making their Order
                    example: Please gift wrap with a personal note saying "Happy Birthday, Ford! 🎉
                  acceptedOn:
                    type: string
                    format: date-time
                    nullable: true
                    description: The ISO8601 timestamp that an Order was placed.
                    example: '2018-12-03T22:06:15.761Z'
                  fulfilledOn:
                    type: string
                    format: date-time
                    nullable: true
                    description: 'When an Order is marked as ''fulfilled'', this field represents the timestamp of the fulfillment in ISO8601 format. Otherwise, it is null.

                      '
                    example: '2018-12-03T22:06:15.761Z'
                  refundedOn:
                    type: string
                    format: date-time
                    nullable: true
                    description: When an Order is marked as 'refunded', this field represents the timestamp of the fulfillment in ISO8601 format. Otherwise, it is null.
                    example: '2018-12-03T22:06:15.761Z'
                  disputedOn:
                    type: string
                    format: date-time
                    nullable: true
                    description: 'When an Order is marked as ''disputed'', this field represents the timestamp of the fulfillment in ISO8601 format. Otherwise, it is null.

                      '
                    example: '2018-12-03T22:06:15.761Z'
                  disputeUpdatedOn:
                    type: string
                    format: date-time
                    nullable: true
                    description: 'If an Order has been disputed by the customer, this key will be set to the ISO8601 timestamp of the last update received. If the Order is not disputed, the key will be null.

                      '
                    example: '2018-12-03T22:06:15.761Z'
                  disputeLastStatus:
                    type: string
                    description: 'If an order was disputed by the customer, then this key will be set with the [dispute''s status](https://stripe.com/docs/api#dispute_object-status).

                      '
                    example: null
                    enum:
                    - warning_needs_response
                    - warning_under_review
                    - warning_closed
                    - needs_response
                    - under_review
                    - charge_refunded
                    - won
                    - lost
                    nullable: true
                  customerPaid:
                    description: The total paid by the customer
                    properties:
                      unit:
                        description: The three-letter ISO currency code
                        type: string
                        example: USD
                      value:
                        description: The numeric value in the base unit of the currency
                        type: string
                        example: '5892'
                      string:
                        description: The user-facing string representation of the amount
                        type: string
                        example: $58.92
                  netAmount:
                    description: The net amount after application fees
                    properties:
                      unit:
                        description: The three-letter ISO currency code
                        type: string
                        example: USD
                      value:
                        description: The numeric value in the base unit of the currency
                        type: string
                        example: '5892'
                      string:
                        description: The user-facing string representation of the amount
                        type: string
                        example: $58.92
                  applicationFee:
                    description: The application fee assessed by the platform
                    properties:
                      unit:
                        description: The three-letter ISO currency code
                        type: string
                        example: USD
                      value:
                        description: The numeric value in the base unit of the currency
                        type: string
                        example: '5892'
                      string:
                        description: The user-facing string representation of the amount
                        type: string
                        example: $58.92
                  allAddresses:
                    description: All addresses provided by the customer during the ordering flow.
                    type: array
                    example:
                    - type: shipping
                      japanType: kanji
                      addressee: Custmerio Namen
                      line1: 123 Example Road
                      line2: Unit 3
                      city: Examplesville
                      state: CA
                      country: US
                      postalCode: 90012
                    - type: billing
                      japanType: kanji
                      addressee: Custmerio Namen
                      line1: 123 Example Road
                      line2: Unit 3
                      city: Examplesville
                      state: CA
                      country: US
                      postalCode: 90012
                    items:
                      description: A customer address
                      properties:
                        type:
                          description: The type of the order address (billing or shipping)
                          type: string
                          enum:
                          - shipping
                          - billing
                          example: shipping
                        japanType:
                          description: Represents a Japan-only address format. This field will only appear on orders placed from Japan.
                          type: string
                          enum:
                          - kana
                          - kanji
                          nullable: true
                          example: kanji
                        addressee:
                          description: Display name on the address
                          type: string
                          example: Customerio Namen
                        line1:
                          type: string
                          example: 123 Example Rd
                          description: The first line of the address
                        line2:
                          type: string
                          example: ''
                          description: The second line of the address
                        city:
                          type: string
                          example: Examplesville
                          description: The city of the address.
                        state:
                          type: string
                          example: CA
                          description: The state or province of the address
                        country:
                          type: string
                          example: US
                          description: The country of the address
                        postalCode:
                          type: string
                          example: 90012
                          description: The postal code of the address
                  shippingAddress:
                    description: The shipping address
                    properties:
                      type:
                        description: The type of the order address (billing or shipping)
                        type: string
                        enum:
                        - shipping
                        - billing
                        example: shipping
                      japanType:
                        description: Represents a Japan-only address format. This field will only appear on orders placed from Japan.
                        type: string
                        enum:
                        - kana
                        - kanji
                        nullable: true
                        example: kanji
                      addressee:
                        description: Display name on the address
                        type: string
                        example: Customerio Namen
                      line1:
                        type: string
                        example: 123 Example Rd
                        description: The first line of the address
                      line2:
                        type: string
                        example: ''
                        description: The second line of the address
                      city:
                        type: string
                        example: Examplesville
                        description: The city of the address.
                      state:
                        type: string
                        example: CA
                        description: The state or province of the address
                      country:
                        type: string
                        example: US
                        description: The country of the address
                      postalCode:
                        type: string
                        example: 90012
                        description: The postal code of the address
                    example:
                      type: shipping
                      japanType: kanji
                      addressee: Custmerio Namen
                      line1: 123 Example Road
                      line2: Unit 3
                      city: Examplesville
                      state: CA
                      country: US
                      postalCode: 90012
                  billingAddress:
                    description: The billing address
                    properties:
                      type:
                        description: The type of the order address (billing or shipping)
                        type: string
                        enum:
                        - shipping
                        - billing
                        example: shipping
                      japanType:
                        description: Represents a Japan-only address format. This field will only appear on orders placed from Japan.
                        type: string
                        enum:
                        - kana
                        - kanji
                        nullable: true
                        example: kanji
                      addressee:
                        description: Display name on the address
                        type: string
                        example: Customerio Namen
                      line1:
                        type: string
                        example: 123 Example Rd
                        description: The first line of the address
                      line2:
                        type: string
                        example: ''
                        description: The second line of the address
[...]
